{% extends 'test.html' %}
{% block title %}主页{% endblock %}
{% load static %}
{% block header_extends %}
    <script src="http://cdn.hcharts.cn/highcharts/highcharts.js"></script> 
{% endblock %}

{% block content %}
<!-- 头部大图 -->
<header id="gtco-header" class="gtco-cover" role="banner" style="background-image:url({% static 'img/img_5.jpg' %});" data-stellar-background-ratio="0.5">
	<div class="overlay"></div>
	<div class="container">
		<div class="row">
			<div class="col-md-7 text-left">
				<div class="display-t">
					<div class="display-tc animate-box" data-animate-effect="fadeInUp">
						<span class="date-post">{{ request.session.user_name }}，欢迎来到F-BLOG</span>
						<h1 class="mb30"><a href="#">随便看看吧反正也没什么东西</a></h1>
						<p><a href="#" class="text-link">当前共有{{ blogs_count }}篇博客</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>

<div id="gtco-main">
	<div class="container">
		<!-- 遍历显示主体 -->
		<div class="row row-pb-md">
			<div class="col-md-9">
				<ul id="gtco-post-list">

					{% for blog in blogs %}
						<li class="full entry animate-box" data-animate-effect="fadeIn"> 
							<a href="{% url 'blog:blog_detail' blog.id %}">
								<div class="entry-img" style="background-image: url(/static/img/img_{{ forloop.counter }}.jpg)"></div>
								<div class="entry-desc">
									<h3>{{ blog.title }}</h3>
									<p>{{ blog.content|truncatechars:240|striptags }}</p>
								</div>
							</a>
							<a href="{% url 'blog:blogs_with_type' blog.blog_type_id %}" class="post-meta">{{ blog.blog_type }}<span class="date-posted">{{ blog.created_time|date:"Y-m-d" }}&nbsp;&nbsp;阅读({{ blog.get_read_num }})</span></a>
						</li>
	                {% empty %}
	                    <li class="full entry animate-box" data-animate-effect="fadeIn">
	                        <h3>暂无博客，敬请期待</h3>
	                    </li>
	                {% endfor %}
										
				</ul>	
			</div>
			<!-- 侧栏 -->
			<div class="col-md-3 hidden-xs hidden-sm">
				<div style="background:white;background-size:100% 35%;background-repeat:no-repeat;border-radius:0;padding:20px 20px;margin-bottom: 20px;">
	                <div style="margin: 10% auto">
	                    <img src="{% static 'img/touxiang_1.png' %}" class="center-block" style="border-radius: 100%;height: 30%;width:30%;">
                        <br>
	                    <h2 style="text-align: center">F-Blog团队</h2>
	                    <p style="text-align: center">F-Blog团队是由三个大佬一个菜鸡组长组建的一个娱乐性质的团队，它以扯犊子为主，做F-Blog为辅，团队没有规范的组织和统一管理。其活动的目的是为了写作业,让假期来的更猛烈些.我们来自于学生,服务于自个儿.我们没想获得广大学生的认可,我们现在只想放假.</p>
	                </div>
                </div>

				<!-- 博客分类 -->
				<li class="full entry animate-box" data-animate-effect="fadeIn" style="margin-bottom: 20px">	
					<!-- <div class="entry-img" style="background-image: url(images/img_1.jpg)"></div> -->
					<div class="entry-desc">
						<h3>博客分类</h3>
						<p>这里会按照博客分类将所有博客归档到其分类页面下</p>

                        {% for blog_type in blog_types %}
                        	<a href="{% url 'blog:blogs_with_type' blog_type.id %}">{{ blog_type.type_name }}({{ blog_type.blog_set.count }})</a><br>
                        {% empty %}
                            <p3>暂无分类</p3>
                        {% endfor %}
					</div>
				</li>
				
				<!-- 日期分类 -->
				<li class="full entry animate-box" data-animate-effect="fadeIn"style="margin-bottom: 20px">
					<!-- <div class="entry-img" style="background-image: url(images/img_1.jpg)"></div> -->
					<div class="entry-desc">
						<h3>日期分类</h3>
						<p>这里会按照发布博客年月将所有博客归档到其分类页面下</p>

                        {% for blog_date,blog_count in blog_dates.items %}
                                <a href="{% url 'blog:blogs_with_date' blog_date.year blog_date.month %}">{{ blog_date|date:"Y年m月" }}({{ blog_count }})</a>
                        {% endfor %}
					</div>
				</li>

                <!-- 随机推荐 -->
                <li class="full entry animate-box" data-animate-effect="fadeIn" style="margin-bottom: 20px">
					<!-- <div class="entry-img" style="background-image: url(images/img_1.jpg)"></div> -->
					<div class="entry-desc">
						<h3>随机推荐</h3>
						<p>这里会随机推荐三篇博客</p>

                        {% for blog in rand_blogs %}
                        	<a href="{% url 'blog:blog_detail' blog.id %}">{{ blog.title }}</a><br>
                        {% empty %}
                            <p3>暂无分类</p3>
                        {% endfor %}
					</div>
				</li>


			</div>
		</div>
		
		<!-- 分页 -->
		<div class="row">
			<div class="col-md-12 text-center">
				<nav aria-label="Page navigation">
				  <ul class="pagination">
				  	<!-- 上一页 -->
				    
				    {% if page_of_blogs.has_previous %}
                        <li>
					      <a href="?page={{ page_of_blogs.previous_page_number }}" aria-label="Previous">
					        <span aria-hidden="true">&laquo;</span>
					      </a>
					    </li>
                    {% else %}
                    	<li>
					      <a aria-label="Previous">
					        <span aria-hidden="true">&laquo;没了</span>
					      </a>
					    </li>

                    {% endif %}

				    <!-- 遍历显示页码 -->
				    {% for page_num in page_range %}
                        {% if page_num == page_of_blogs.number %}
                            <li class="active"><a>{{ page_num }}</a></li>
                        {% else %}
                            {% if page_num == '...' %}
                                <li><a>{{ page_num }}</a></li>
                            {% else %}
                                <li><a href="?page={{ page_num }}">{{ page_num }}</a></li>
                            {% endif %}
                        {% endif %}
                    {% endfor %}

				    <!-- 下一页 -->  

				    {% if page_of_blogs.has_next %}
                        <li>
					      <a href="?page={{ page_of_blogs.next_page_number }}" aria-label="Next">
					        <span aria-hidden="true">&raquo;</span>
					      </a>
					    </li>
                    {% else %}
                    	<li>
					      <a aria-label="Next">
					        <span aria-hidden="true">没了&raquo;</span>
					      </a>
					    </li>
                    {% endif %}

				  </ul>
				</nav>
			</div>
		</div>


	</div>
</div>



{% endblock %}