{% extends "test.html" %}
{% load static %}
{% block title %}注册{% endblock %}
{% block css %}
    <link href="{% static 'css/password.css' %}" rel="stylesheet"/>{% endblock %}


{% block content %}
    <!-- 头部大图 -->
    <header id="gtco-header" class="gtco-cover" role="banner"
            style="background-image:url({% static 'img/img_2.jpg' %});" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2"
                     style="margin-top:160px;padding:40px;background-color: rgba(255,255,255,0.8);border-radius:0">
                    <form>
                        {% if text %}
                            <div class="alert alert-warning">{{ text }}</div>
                        {% endif %}
                        <h4 class="text-center">忘记密码</h4>

                        <h6 id="msg" style="text-align: center"></h6>
                        <div class="form-group">
                            <label for="login-name">用户名:</label>
                            <input type="text" name="username" class="form-control login-field" placeholder="输入用户名"
                                   id="username" required>
                        </div>
                        <div class="form-group">
                            <label for="login-name">手机号:</label>

                            <div  style="padding: 0">
                                <div class="col-md-8" style="padding: 0">
                                    <input type="text" name="phoneNO" class="form-control" placeholder="输入手机号码" id="phoneNO" required>
                                </div>
                                <div class="col-md-4">
                                    <input type="button" id="smsbutton" value="发送验证码" class="btn btn-lg btn-primary btn-block" style="max-height: 54px;margin: 0;">
                                </div>

                            </div>

                        </div>
                        <div class="form-group">
                            <label for="login-name">新密码:</label>
                            <input type="password" name="password" class="form-control login-field" placeholder="输入密码"
                                   id="password" required>
                        </div>
                        <div class="form-group">
                            <label for="login-name">验证码:</label>
                            <input type="text" name="smscode" class="form-control login-field" placeholder="请输入验证码" id="smscode">

                        </div>

                        <div>
                            <input class="btn btn-lg btn-primary btn-block" type="button" id="form1" name="form1"
                                   value="确定">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </header>

{% endblock %}
{% block endbody %}
    <script>
    $(function () {
        $("#form1").click(function () {
            username = $("#username").val();
            phoneNO = $("#phoneNO").val();
            smscode = $("#smscode").val();
            password = $("#password").val();
            if (username == "") {
                $("#msg").html("用户名不能为空");
                return false;
            }
            if (phoneNO == "") {
                $("#msg").html("手机号码不能为空");
                return false;
            }
            if (smscode == "") {
                $("#msg").html("验证码不能为空");
                return false;
            }
            if (password == "") {
                $("#msg").html("密码不能为空");
                return false;
            }
            postdata = {"username": username, "phoneNo": phoneNO, "smscode": smscode, "password": password}
            $.post("/user/password/", postdata, function (rs) {
                if (rs.retCode == "1000") {
                    window.location.href = rs.retMsg;
                }
                else {
                    $("#msg").html(rs.retMsg)
                }
            })
        })

        $("#smsbutton").click(function () {
            phoneNO = $("#phoneNO").val();
            if (phoneNO == "") {
                $("#msg").html("手机号码不能为空");
                return false;
            }else {
               var myreg = /^1[345789]\d{9}$/;
                if(!myreg.test($("#phoneNO").val())){
                    $("#msg").html("手机号格式有误，请重填");
                    return false;
                }else{
                    $.get("/user/sms", {"phoneNO": phoneNO},function (rs) {
                        if (rs.retCode == "2000"){
                            alert(rs.retMsg)
                        }else {
                            alert(rs.retMsg)
                        }
                    });
                }
            }
        })
    })
</script>
{% endblock %}